/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50R0w0ksJefh+oXnvjt-u9rMe56 */

/* Feel free to copy&paste color codes to your application */

.color-primary-0 { color: #FFCBCB }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #FFEBEB }
.color-primary-3 { color: #FFA7A7 }
.color-primary-4 { color: #FF8181 }

.color-secondary-1-0 { color: #F7C4E4 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #FDE8F5 }
.color-secondary-1-3 { color: #EE9CD0 }
.color-secondary-1-4 { color: #E474BA }

.color-secondary-2-0 { color: #FFE4CB }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FFF4EB }
.color-secondary-2-3 { color: #FFD1A7 }
.color-secondary-2-4 { color: #FFBE81 }

.color-complement-0 { color: #C5F7C5 }	/* Main Complement color */
.color-complement-1 { color: #FFFFFF }
.color-complement-2 { color: #E8FDE8 }
.color-complement-3 { color: #9DF09D }
.color-complement-4 { color: #75E775 }



body {
    background-color: #E474BA;
    text-align: center;
    font-family: 'Lora', serif;
}

h1 {
    color: gold;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-family: 'Merriweather', serif;
}



div {
    display: inline-block;
}

/* Fixed by Kirk W. */
#player1, #player2, #player3, #player4 {
    box-shadow: 10px 10px 5px #FFA7A7;
    border: 5px solid #FFE4CB;
    border-radius: 20px;
    padding: 5px;
    width: 650px;
    height: 400px;
    margin: 10px;
}

#result {
    text-align: center;
    color: gold;
}